/* =============================================== */
/* Base reset & style ============================ */
/* =============================================== */

html {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    height: -webkit-fill-available;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #2f2699;
  background-image: url("images/bg.png");
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, form {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  color: white;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.inactive {
  pointer-events: none;
  opacity: 0.2;
  transition: all 1s ease-in-out;
  /* cursor: default; */
}

/* =============================================== */
/* Main styles =================================== */
/* =============================================== */

h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 40px 0px 20px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 800px;
    padding: 20px;
}

p {
    text-align: center;
}

.intro {
    margin: 0 auto;
}

/* Tools section =================================== */

.tools {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.user-tools, .computer-tools {
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.item {
  transition: all .2s ease-in-out;
  cursor: pointer;
  width: 200px;
}

.item:hover {
  transform: scale(1.1);
}

/* Scoring section =================================== */

#result {
  height: 40px;
  margin: 40px auto;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.board, .choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  padding-bottom: 10px;
}

.entry {
  width: 100px;
  height: 100px;
}

button {
  background-color: white; /* Green */
  border-radius: 4px;
  border: none;
  color: navy;
  padding: 15px 32px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button:hover {
  /* background-color: navy;
  border-radius: 4px;
  color: white; */
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}